# PostgreSQL / Neon
# Przykład:
# DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?sslmode=require"

# Publiczny adres aplikacji po wdrożeniu.
# Na lokalnym komputerze może zostać:
# NEXT_PUBLIC_APP_URL="http://localhost:3000"

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Logowanie administratora
# ADMIN_PASSWORD ustaw lokalnie w .env i później w panelu hostingu.
# ADMIN_SESSION_SECRET powinien być długim losowym ciągiem znaków.

ADMIN_PASSWORD="ewewewewewewe
ADMIN_SESSION_SECRET="e73ccde74tdb4dr6b875c54tw3e1bc1f42w31a3e8e78f5674fbew15c760q4a28"
